---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIO_SID>/Messages.json
    body:
      encoding: UTF-8
      string: Body=Est+temporibus+ex.+Nihil+beatae+exercitationem.+Ut+minus+quia.&From=%2B15005550006&To=%2B15005550006
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM3YjkzOTc2NzVjNTcyYWUyMzkzZWZkNjIwMGExMmQ1MjozMzkxNTVjZTY2ZTExNmFmMWJjZjczMWI3MzgyZDU2Mw==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ193a1a21cda845bbb327bab75a5d9397
      Twilio-Request-Duration:
      - '0.043'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"sid": "SM7c9301c0d83648de87747a69163b4e52", "date_created": "Wed,
        10 Apr 2019 22:42:10 +0000", "date_updated": "Wed, 10 Apr 2019 22:42:10 +0000",
        "date_sent": null, "account_sid": "<TWILIO_SID>", "to": "<TWILIO_FROM_NUMBER>",
        "from": "<TWILIO_FROM_NUMBER>", "messaging_service_sid": null, "body": "Est
        temporibus ex. Nihil beatae exercitationem. Ut minus quia.", "status": "queued",
        "num_segments": "1", "num_media": "0", "direction": "outbound-api", "api_version":
        "2010-04-01", "price": null, "price_unit": "USD", "error_code": null, "error_message":
        null, "uri": "/2010-04-01/Accounts/<TWILIO_SID>/Messages/SM7c9301c0d83648de87747a69163b4e52.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/<TWILIO_SID>/Messages/SM7c9301c0d83648de87747a69163b4e52/Media.json"}}'
  recorded_at: Wed, 10 Apr 2019 22:42:08 GMT
recorded_with: VCR 4.0.0
