<br>
<div class="container">
  <div class='row'>
    <div class="col"><h1>Campaigns</h1></div>
    <div class="col-6"><%= link_to 'New Campaign', new_campaign_path, class: "btn btn-primary btn-lg btn-block"%></div>
  </div>
</div>
<br>
<br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Campaign Name</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign|%>
    <tr>
      <td><%= campaign.name %></td>
      <td><%= link_to "Details", campaign_path(campaign) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
